<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LiteRail Default Index</title>
  </head>
  <body>

    <h1>Welcome! You're keeping a low profile with LiteRail!</h1>

    <% if flash[:notice] %>
      Notice: <%= flash[:notice] %>
    <% end %>

    <p>
      Add some models, controllers, and views to really get moving!
      Visit the <a href="https://github.com/mvincent7891/lite_rail">GitHub repositiory</a> for more information and instructions.
    </p>

  </body>
</html>
