
<h2> <%= flash.now[:errors] if flash.now[:errors] %> </h2>
<h2> <%= flash.now[:notices] if flash.now[:notices] %> </h2>
<form class="" action="/users" method="post">
  <label>Name:
    <input type="text" name="user[name]" value="">
  </label>

  <label>Age:
    <input type="text" name="user[age]" value="">
  </label>

  <input type="submit" value="Create User">
</form>
